* {
  margin: 0;
  padding: 0;
  text-transform: none;
  text-decoration: none;
  list-style: none;
  color: white;
}

:root{
  --primary : #001faa;
  --secondary: #800080;
  --tertiary: #000000;
}

body {
  gap: 20px 20px;
  background: linear-gradient(135deg, var(--primary), var(--secondary), var(--secondary), var(--primary));
}

header,
body,
main,
footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 100vh;
}

span {
  text-align: center;
  font-weight: bold;
  color: white;
  width: 50%;
  font-size: 10rem;
  text-shadow: 1px 1px 1px #000;
}

footer {
  text-align: center;
  font-weight: bold;
}

/* Classes */
.title{
  font-size: 4rem;
}

.animate1{
  animation: top_to_bottom 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) calc(var(--id)*100ms) infinite normal forwards;
}

.animate2{
  animation: bottom_to_top 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) calc(var(--id)*100ms) infinite normal forwards;
}

.slider{
  animation: slide 6s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal forwards;
}

@keyframes slide {
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes top_to_bottom {
  from{
    transform: translateY(-100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bottom_to_top {
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}